body{
  /*font-family: Arial, Helvetica, Sans-serif;
  font-size: 15px;
  line-height:1.5;*/
  font: 16px/1.5  Georgia, Verdana, serif;
  padding:0;
  margin:0;
  background: #e7f2f8;
}

/*Global*/
.container{
  width:80%;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

ul{
  padding:0;
  margin:0;
}

.button_1{
  height: 38px;
  background: #7EB5D6;
  border: 1;
  border-color: #e7f2f8;
  padding: 0 20px 0 20px;
  color: #e7f2f8;
  border-radius: 6px 0 6px 0;
  box-shadow: 3px 3px 3px black;
}

.dark{
  padding: 15px;
  background: #274257;
  color: #e7f2f8;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Header*/
header{
  background: #274257;
  background: -moz-linear-gradient(to bottom right, #274257 40%, #7EB5D6);
  background: -webkit-linear-gradient(to bottom right, #274257 40%, #7EB5D6);
  background: linear-gradient(to bottom right, #274257 40%, #7EB5D6);
  color: #e7f2f8;
  padding-top:15px;
  min-height:70px;
  /*max-height:100px;*/
  border-bottom: 4px solid #CBCBCB;
}

header #logo{
  float: left;
  /*margin-left: 10%;*/
  /*margin: 0;  - nie działa jak poniżej*/
}
header #logo h1{
  margin: 0 0 -48px 0;
  /* font-family: "BankGothicBTMedium" */
}

nav{
  float: right;
  margin: 48px 0 0 0 ;
  /*margin-bottom: 0px;*/
  /*margin-right: 10%;*/
}

nav a{
  color:	#e7f2f8;
  text-decoration: none;
  text-transform:uppercase;
  font: 18px;
}

nav li{
  float: left; /*do prawej, obok siebie, NIE jeden pod drugim*/
  display: inline-block;/*bez kropek w liscie*/
  padding: 2px 20px 2px 20px;
  margin: 0 2px 1px 2px;
  border-radius: 6px 0 6px 0;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 2px #000;
}

.menu-btn .fa{
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 30px;
  height: 30px;
  text-align:center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 4px;
}

header .highlight{
  color: #7EB5D6;
  text-shadow: 2px 2px 4px #000;
}
/* header .pan{
  color: #c21807;
  text-shadow: 2px 2px 4px #000;
} */

nav .current{
  color: #7EB5D6;
}

nav li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #333;
}

/* showcase */

#showcase{
  min-height: 400px;
  background: url('../img/stol.jpg') no-repeat 0 -450px;
  text-align: center;
  color: #000000;
  /* width: 100%; */

}

#showcase h1{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 55px;
    color: #202020;
}

#showcase p{
  font-size: 20px;
}

/* newsletter*/
#newsletter {
  padding: 15px 0 15px 0;
  color: #e7f2f8;
  background: #274257;
  background: -moz-linear-gradient(to top left, #274257 40%, #7EB5D6);
  background: -webkit-linear-gradient(to top left, #274257 40%, #7EB5D6);
  background: linear-gradient(to top left, #274257 40%, #7EB5D6);
}
#newsletter h1{
  float: left;
}

#newsletter form {
  float: right;
  margin: 20px 4px 4px 0;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*Boxes*/

#boxes{
  margin-top: 20px

}

.box{
  float: left;
  width: 30%;
  padding:10px;
  text-align: center;
}

#boxes .box img{
  width: 100px;
  /*align-self: center;*/
}

/*Sidebar*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
  /*padding-bottom: 10px;*/
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding:5px;
}

article#main-col{
  float: left;
  width: 65%;
}

/*Services*/

ul#services li{
  list-style: none;
  padding: 20px;
  border: 1px solid #CBCBCB;
  margin-bottom: 5px;
  background: #fefefe;
}

footer{
  padding: 10px;
  margin-top: 20px;
  color: #e7f2f8;
  background: #7EB5D6;
 text-align: center;
}


/*Media Queries*/

@media(max-width: 768px)  {
  header #branding,
  header #logo,
  nav,
  /* nav li, */
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  nav li{
    float: none;
    margin: 0 auto;
  }

  nav .current{
    color: #7EB5D6;
  }

  .container{
    width: 90%;
  }

header {
  /* padding-bottom: 20px; */
}

header nav{
  /* margin: 45px 0 2px 0; */
  /* z-index: 1000; */
}

#showcase h1{
  margin-top: 40px;
}

#newsletter button, .quote button{
  display:block;
  width: 99%;
  margin: 5px auto;
}

#newsletter form input[type="email"],
.quote input,
.quote textarea{
  width: 97%;
  margin-bottom: 5px;
}

}
